.SectionContent {
  height: auto;
  width: 100%;
}
.SelectATemplate {
  color: #002d58;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}
