.GithubPage {
  //   width: 90%;
  height: 80vh;
  margin: auto;
  //   background-color: red;
  overflow: scroll;
}
.GithubContent {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  width: 90%;
  // margin: auto;
}
.GithubItem {
  width: 95%;
  height: 220px;
  margin: 10px auto;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.GithubItem:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  
}
.btnEditContent {
  width: 100px;
  height: 25px;
  border-radius: 5px;
}
.btnEditContent:hover {
  background-color: #173462;
  color: white;
}
.githubLink {
  font-size: medium;
}
