.Main {
  width: 100%;
  height: calc(100vh - 140px);
  //   margin-top: -21px;
  //   background-color: red;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 376px auto;
}

.platform-Container {
  width: 1060px;
  height: 510px;
  margin: 5% auto;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
}

.platform-Items {
  width: 250px;
  height: 250px;
  border: none;
  margin: auto;
  cursor: pointer;
  border-radius: 20px;
  border: 10px solid #f2f2f2;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: 120px auto;
}
.platform-Items:hover {
  transform: scale(1.2);
}
.MainInnerContent {
  width: 90%;
  height: auto;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.MainHeader {
  margin: auto;
}
.MainNavigation {
  width: 376px;
  height: calc(100vh - 120px);

  background-color: rgb(242, 242, 242);
  float: left;
  // margin-left: 10px;
  border-right: 4px solid rgb(242, 242, 242);
  margin-top: -20px;
  // border-radius: 10px;
}
.ButtonMenu {
  font-size: 35px;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
}
.DivButtonMenu {
  width: 50px;
  margin-left: 20px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
  height: 40px;
  grid-template-columns: auto auto;
}
.MainNavigationClose {
  width: 90px;
  //   height: 100%;
  //   background-color: gray;
  float: left;
  margin-left: 0px;
  // border: 1px solid;
  margin-top: -20px;
  height: calc(100vh - 120px);
  background-color: rgb(242, 242, 242);

  border-radius: 10px;
}
#SectionButtons {
  width: 100%;
  height: 40px;
  font-size: medium;
  border: none;
  background: none;
  text-align: left;
  margin-left: 10px;
  cursor: pointer;

}
#SectionButtons:hover {
  // background-color: #173462;
  // color: white;
  // font-weight: bold;
}

.MainTitles {
  color: rgb(21, 118, 212);
  font-weight: bolder;
  font-size: 26px;
  text-align: left;
  margin-left: 20px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.TemplateName {
  color: #4D4D4D;
  font-weight: 900;
  font-size: 26px;
  position: relative;
  bottom: -25px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.ExportPopupFile {
  width: 450px;
  height: 500px;
  border: 1px solid;
  position: absolute;
  background-color: white;
  border-radius: 15px;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}
.fileInput {
  width: 270px;
  height: 40px;
  border-radius: 8px;
}

.MainSaveAndCancel {
  width: 120px;
  height: 40px;
  margin: 10px auto;
  border-radius: 5px;
  border: 1px solid;
  // margin-left: 30px;
  font-size: medium;
  cursor: pointer;
}
.MainSaveAndCancel:hover {
  background-color: #173462;
  color: white;
}
.MainSaveAndCancelDiv {
  width: 270px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
}

.TemplatesDiv {
  width: 86%;
  height: auto;
  padding: 10px;
  background-color: #ffffff;
  margin: auto;
  border-radius: 10px;
}
.TemplatesDiv:nth-of-type(3){
  overflow-x: scroll;
  height: 370px;
}
// .TemplatesDiv
.radioBtnSections {
  width: 80%;
  display: grid;
  grid-template-columns: 30px auto;
  margin: auto;
}
.searchBarIcon {
  width: 100%;
  display: grid;
  grid-template-columns: auto 50px;
  // margin-top: 20px;
  background: white;
  margin-top: auto;
  margin-bottom: auto;
  height: 50px;
  border-radius: 10px;
}
.menuIconAndSearchIcon {
  width: 96%;
  display: grid;
  grid-template-columns: 85px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  // margin: auto;
}
.search-icon {
  height: 35px;
  margin-top: auto;
  margin-bottom: auto;
}
.input-search {
  height: 35px;
  border-radius: 5px;
  width: 90%;
  background-color: #f2f2f2;
  border: 1px #f2f2f2;
}
.icon-search {
  cursor: pointer;
  display: grid;
  align-items: center;
  grid-template-columns: auto 10px;
  padding: 5px;
  font-size: 25px;
  justify-content: center;
  text-align: center;
  color: #002d58;
}
.icon-search > svg {
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  padding: 5px;
}
.NavIconAndTabName {
  display: grid;
  grid-template-columns: auto auto;
}
.dropDownIcon {
  font-size: larger;
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid #dddbda;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  margin-right: 0px;
  margin-left: auto;
  cursor: pointer;
}
.dropDownIcon > svg {
  font-size: 30px;
  // width: 50px;
  margin-left: auto;
  margin-right: auto;
  color: #002d58;
}
.MainPageHeading {
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  color: white;
  width: 60%;
  margin: auto;
}
